
<div class="col-md-12 text-center top-space">
  <div class="panel panel-default">
    <div class="panel-heading">Tu perfil</div>
    <div class="panel-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'shared/devisemes' %>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "Correo", class: "form-control" %>
        </div>

        <div class="form-group">
          <% if @minimum_password_length %>
          <em class="red-text">(minimo <%= @minimum_password_length %> caracteres)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "Nueva contraseña (dejar en blanco si no deseas cambiarla)", class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmar nueva contraseña", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar", class: "btn btn-normal btn-block" %>
        </div>
      <% end %>

    </div>
  </div>

  <br/>

</div>
