<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <h2 class="text-center">Registrarse</h2>
    <br/>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/devisemes' %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Correo", class: "form-control" %>
      </div>

      <div class="form-group">
        <% if @minimum_password_length %>
        <em class="red-text">(minimo <%= @minimum_password_length %> caracteres)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmar contraseña", class: "form-control" %>
      </div>
      <br/><br/>
      <div class="actions">
        <%= f.submit "Registrarse", class: "btn btn-normal btn-block" %>
      </div>
    <% end %>

    <hr/>

  </div>
</div>
