<% articles.each do |article| %>
  <div class="col-md-4 top-space">
    <div class="panel panel-default">
      <div class="panel-heading preview">
        <%= image_tag article.avatar(:medium) %>
      </div>
      <div class="panel-body">
        <%= link_to article.title, article %><br/><br/>
        <h4><%= article.description %></h4>
      </div>
    </div>
  </div>

<% end %>
