<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category, id: :article_category, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :article_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.file_field :avatar, class: "form-control" %>
 </div>
<br/>
  <div class="form-group">
    <%= form.submit class: "btn btn-normal" %>
  </div>
<% end %>
