
<h1 class="text-center">Articulos</h1>
<div class="col-lg-12">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="success">
        <th>Titulo</th>
        <th>Description</th>
        <th>Imagen</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td><%= image_tag article.avatar.url(:thumb) %></td>
          <td>
            <%= link_to 'Ver', article %>
            <% if current_user.admin? %>
              <%= link_to 'Editar', edit_article_path(article) %>
              <%= link_to 'Borrar', article, method: :delete, data: { confirm: 'Estas seguro?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.admin? %>
    <%= link_to 'Nuevo articulo', new_article_path %>
  <% end %>
</div>
