<div class="col-lg-12">
  <div class="panel panel-default top-space">
    <div class="panel-heading text-center">
      <%= image_tag @article.avatar.url(:medium) %>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>Titulo: </label>
        <%= @article.title %>
      </div>
      <div class="form-group">
        <label>Descripcion: </label>
        <%= @article.description %>
      </div>
    </div>
  </div>
  <% if current_user.admin? %>
    <%= link_to 'Editar', edit_article_path(@article) %> |
    <%= link_to 'Regresar', articles_path %>
  <% end %>
</div>
