<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <h2 clss="text-center">Olvidaste tu contraseña?</h2>
    <br/>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render 'shared/devisemes' %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Correo", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Recuperar contraseña", class: "btn btn-normal btn-block" %>
      </div>
    <% end %>
  </div>
</div>
