<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "sabiasQue", root_path, class: "navbar-brand teal-text top-space" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">

        <li>
          <% if current_user.admin? %>
            <button class="btn btn-form btn-small bottom-space">
                <%= link_to "Crear articulo", new_article_path, style: "color: white; text-decoration: none;" %>
            </button>
          <% end %>
        </li>

        <% if current_user.is_a?(User) %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle top-space" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Editar Perfil", edit_user_registration_path %></li>
              <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>

          <li><%= link_to "Entrar", new_user_session_path %></li>
          <li><%= link_to "Registrarse", new_user_registration_path %></li>

        <% end %>


      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
