<h3 class="text-center">Incrementa tu conocimiento con estas notas informativas</h3>
<div class="row">
  <%= render 'articles/articles_listing', articles: @articles %>
</div>
<div class="text-center">
  <%= link_to "Ver mas", articles_path, class: "btn btn-normal" %>
</div>
