<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <h2 class="text-center">Iniciar sesion</h2>
    <br/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Correo", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: "form-control" %>
      </div>
      <div>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %> Recordar
        <% end %>
        <span class="pull-right">
          <%= link_to "Olvidaste la contraseña?", new_user_password_path %>
        </span>
      </div>
      <br/><br/>
      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-normal btn-block" %>
      </div>
    <% end %>

    <hr/>
  </div>
</div>
