/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

.teal-text {
  color: #009688 !important;
}
.red-text {
  color: red !important;
}
.navbar-default {
  background: #FFFFFF;
}
body {
  background-color: #eee;
}
a:hover {
  color: #3071A9 !important;
}
.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}
.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}
.btn.btn-normal {
  border: 1px solid #009688;
  background-color: #009688;
}
.btn.btn-normal:hover {
  color: white !important;
  box-shadow: inset 0 0 0 5px #3071A9;
}
.btn.btn-form:hover > a {
  color: white !important;
}
.btn.btn-form:hover {
  box-shadow: inset 0 0 0 5px #3071A9;
}
.btn.btn-form {
  border: 1px solid #00A699;
  background-color: #00A699;
}
.form-group input[type="checkbox"]:checked::before {
  content: '\2713';
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #00A699;
}
// Panels
.panel-default .panel-heading {
  color: #ffffff;
  background-color: #00A699;
  font-size: 18px;
  font-weight: 400;
}
.top-space {
  margin-top: 10px;
}
.bottom-space {
  margin-bottom: 10px;
}
